In [1]:
import pandas as pd
import numpy as np

In [2]:
dict={"Name":["Partha Gayen","Nipupam Gayen","Santu Naskar","Somnath Gayen"],
      "Age":[23,23,24,30],
      "City":['Kolkata','NJP','Howrah','Baruipur']
      }

Use pd.DataFrame() for make the dict... to data frame

In [3]:
df=pd.DataFrame(dict)#make a data frame use pandas

Print the value  making data frame

In [4]:
print(df)

            Name  Age      City
0   Partha Gayen   23   Kolkata
1  Nipupam Gayen   23       NJP
2   Santu Naskar   24    Howrah
3  Somnath Gayen   30  Baruipur

Make this Data frame into CSV file use dataframe.to_csv("give the neme of csv file")

In [5]:
df.to_csv("friends.csv")

make the data frame into CSV without indexing use DataFrame.to_csv("Name of csv file", index=False)

In [10]:
df.to_csv("Friends_without_index.csv",index=False)

when we view first two row use df.head(2)

In [7]:
df.head(2)

            Name  Age     City
0   Partha Gayen   23  Kolkata
1  Nipupam Gayen   23      NJP

When we view last two row use df.tail(2)

In [8]:
df.tail(2)

            Name  Age      City
2   Santu Naskar   24    Howrah
3  Somnath Gayen   30  Baruipur

Iâ€™m interested in some basic statistics of the numerical data of my data table

In [9]:
df.describe()

             Age
count   4.000000
mean   25.000000
std     3.366502
min    23.000000
25%    23.000000
50%    23.500000
75%    25.500000
max    30.000000

The describe() method provides a quick overview of the numerical data in a DataFrame.