Q-1:Read a CSV file and display the first 5 rows of the dataset

In [1]:
import pandas as pd 
df=pd.read_csv("2022_olympics.csv")

display the first five row

In [2]:
df.head(5)

   NOC  Gold  Silver  Bronze  Total
0  NOR    16       8      13     37
1  GER    12      10       5     27
2  USA     8      10       7     25
3  CHN     9       4       2     15
4  SWE     8       5       5     18