****What kind of data does pandas handle?****

        ***I want to start using pandas***

In [1]:
import pandas as pd

To load the pandas package and start working with it, import the package. The community agreed alias for pandas is pd, so loading pandas as pd is assumed standard practice for all of the pandas documentation.

****pandas data table representation****

*I want to create my friends DataFrame

In [10]:
Friend_list= pd.DataFrame(
    {
        "Name":['Partha','Santu','Nirupam','Sahadat'],
        "Age":[23,24,23,22],
        "Village":['Belegachi',' Dakshin Belegachi','Jelerhat','Betberia'],
    } 
)

Print the value of created data frame

In [11]:
Friend_list

      Name  Age             Village
0   Partha   23           Belegachi
1    Santu   24   Dakshin Belegachi
2  Nirupam   23            Jelerhat
3  Sahadat   22            Betberia

****Each column in a DataFrame is a Series****

                    I’m just interested in working with the data in the column Age

In [12]:
Friend_list["Name"]

0     Partha
1      Santu
2    Nirupam
3    Sahadat
Name: Name, dtype: object

When selecting a single column of a pandas DataFrame, the result is a pandas Series. To select the column, use the column label in between square brackets [].

****Create a Series****

In [14]:
ages=pd.Series([12,23,45,34],name="Ages")

print the value of series

In [15]:
ages

0    12
1    23
2    45
3    34
Name: Ages, dtype: int64

A pandas Series has no column labels, as it is just a single column of a DataFrame. A Series does have row labels.

******Do something with a DataFrame or Series******

I want to know the maximum Age of my friends

We can do this on the DataFrame by selecting the Age column and applying max():

In [16]:
Friend_list["Age"].max()

24

Now finding maximum ages in the  seriec

In [17]:
ages.max()

45

As illustrated by the max() method, you can do things with a DataFrame or Series. pandas provides a lot of functionalities, each of them a method you can apply to a DataFrame or Series. As methods are functions, do not forget to use parentheses ().

****I’m interested in some basic statistics of the numerical data of my data table****

In [19]:
Friend_list.describe()

             Age
count   4.000000
mean   23.000000
std     0.816497
min    22.000000
25%    22.750000
50%    23.000000
75%    23.250000
max    24.000000

The describe() method provides a quick overview of the numerical data in a DataFrame.
The describe() method is an example of a pandas operation returning a pandas Series or a pandas DataFrame.

****REMEMBER****


Import the package, aka import pandas as pd

A table of data is stored as a pandas DataFrame

Each column in a DataFrame is a Series

You can do things by applying a method to a DataFrame or Series