****Read and write tabular data****

I want to analyze the 2024 olympic  data, available as a CSV file.

In [1]:
#import pandas
import pandas as pd

Read csv file

In [3]:
Olympics=pd.read_csv("Paris 2024 Olympics_Nations Medals.csv")

pandas provides the read_csv() function to read data stored as a csv file into a pandas DataFrame. pandas supports many different file formats or data sources out of the box (csv, excel, sql, json, parquet, …), each of them with the prefix read_*.

print the read Olympics data

        Make sure to always have a check on the data after reading in the data. When displaying a DataFrame, the first and last 5 rows will be shown by default:

In [4]:
Olympics

    NOC  Gold  Silver  Bronze  Total
0   USA    40      44      42    126
1   CHN    40      27      24     91
2   JPN    20      12      13     45
3   AUS    18      19      16     53
4   FRA    16      26      22     64
..  ...   ...     ...     ...    ...
86  SIN     0       0       1      1
87  CIV     0       0       1      1
88  ROT     0       0       1      1
89  PER     0       0       1      1
90  SVK     0       0       1      1

[91 rows x 5 columns]

****I want to see the first 4 rows of a pandas DataFrame.****

In [5]:
Olympics.head(4)

   NOC  Gold  Silver  Bronze  Total
0  USA    40      44      42    126
1  CHN    40      27      24     91
2  JPN    20      12      13     45
3  AUS    18      19      16     53

To see the first N rows of a DataFrame, use the head() method with the required number of rows (in this case 4) as argument.

****I want to see the Last 4 rows of a pandas DataFrame.****

In [6]:
Olympics.tail(4)

    NOC  Gold  Silver  Bronze  Total
87  CIV     0       0       1      1
88  ROT     0       0       1      1
89  PER     0       0       1      1
90  SVK     0       0       1      1

Interested in the last N rows instead? pandas also provides a tail() method. For example, Olympics.tail(4) will return the last 4 rows of the DataFrame.

****A check on how pandas interpreted each of the column data types can be done by requesting the pandas dtypes attribute:****

In [7]:
Olympics.dtypes

NOC       object
Gold       int64
Silver     int64
Bronze     int64
Total      int64
dtype: object

****NOTE****

When asking for the dtypes, no brackets are used! dtypes is an attribute of a DataFrame and Series. Attributes of a DataFrame or Series do not need brackets. Attributes represent a characteristic of a DataFrame/Series

****Convert  dataframe to spreadsheet****

In [8]:
#With index
Olympics.to_excel("Olympics.xlsx",sheet_name="2024 Olympics_medales")

In [9]:
#with out index
Olympics.to_excel("Olympics.xlsx",sheet_name="2024 Olympics_medales",index=False)

The equivalent read function read_excel() will reload the data to a DataFrame:

In [11]:
New_Olympics=pd.read_excel("Olympics.xlsx",sheet_name="2024 Olympics_medales")

prind the read value

In [12]:
New_Olympics

    NOC  Gold  Silver  Bronze  Total
0   USA    40      44      42    126
1   CHN    40      27      24     91
2   JPN    20      12      13     45
3   AUS    18      19      16     53
4   FRA    16      26      22     64
..  ...   ...     ...     ...    ...
86  SIN     0       0       1      1
87  CIV     0       0       1      1
88  ROT     0       0       1      1
89  PER     0       0       1      1
90  SVK     0       0       1      1

[91 rows x 5 columns]

****I’m interested in a technical summary of a DataFrame****

In [13]:
New_Olympics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     91 non-null     object
 1   Gold    91 non-null     int64
 2   Silver  91 non-null     int64
 3   Bronze  91 non-null     int64
 4   Total   91 non-null     int64
dtypes: int64(4), object(1)
memory usage: 3.7+ KB

The method info() provides technical information about a DataFrame, so let’s explain the output in more detail:

****REMEMBER****

Getting data in to pandas from many different file formats or data sources is supported by read_* functions.

Exporting data out of pandas is provided by different to_*methods.

The head/tail/info methods and the dtypes attribute are convenient for a first check.