In [24]:
import pandas as pd
df=pd.read_csv("E:\MY PROGRAMMING JOURNEY\DATA-ANALYSIS-AND-REPORTING\LAB-3\Athens 2004 Olympics Nations Medals.csv")
print(df)

    NOC  Gold  Silver  Bronze  Total
0   USA    36      39      26    101
1   CHN    32      17      15     64
2   RUS    28      26      36     90
3   AUS    17      16      17     50
4   JPN    16       9      12     37
..  ...   ...     ...     ...    ...
69  VEN     0       0       2      2
70  SYR     0       0       1      1
71  TTO     0       0       1      1
72  ERI     0       0       1      1
73  MGL     0       0       1      1

[74 rows x 5 columns]

In [27]:
print (df.describe())

            Gold     Silver     Bronze       Total
count  74.000000  74.000000  74.000000   74.000000
mean    4.067568   4.067568   4.418919   12.554054
std     6.918966   6.318772   6.274556   18.792407
min     0.000000   0.000000   0.000000    1.000000
25%     1.000000   1.000000   1.000000    3.000000
50%     2.000000   2.000000   2.000000    5.000000
75%     3.750000   4.750000   5.000000   12.000000
max    36.000000  39.000000  36.000000  101.000000

In [29]:
print(df['NOC'].value_counts)

<bound method IndexOpsMixin.value_counts of 0     USA
1     CHN
2     RUS
3     AUS
4     JPN
     ...
69    VEN
70    SYR
71    TTO
72    ERI
73    MGL
Name: NOC, Length: 74, dtype: object>